body{
    font-size: 25px;
    margin: 15px;
}
select{
    cursor: pointer;
    padding: 10px;
}
.card{
    margin: 10px 0;
    padding: 5px;
}
.card-title {
    margin: auto;
}
.card-body {
    margin: auto;
}